.console {
  position: fixed;
  left: 0;
  right: 0;
  top: 30vh;
  margin-inline: auto;
  width: 60ch;
  z-index: 20;

  .content {
    position: relative;

    padding: 0 2ch;
    z-index: 99;
  }

  .background {
    position: relative;
    left: 0;
    right: 0;
    top: 30vh;
    margin-inline: auto;
    width: 60ch;

    padding: 0 1ch;

    font-weight: bold;

    background-color: color-mix(in srgb, var(--background) 90%, var(--color));
    z-index: 0;
  }

  .hidden {
    display: none;
  }

  input {
    width: 48ch;
    max-width: 48ch;
    font-family: monospace;
    background-color: color-mix(in srgb, var(--background) 85%, var(--color));
    border: none;
  }

  :focus {
    outline: none;
  }
}
