.console {
  position: fixed;
  left: 0;
  right: 0;
  top: 30vh;
  margin-inline: auto;
  width: 60ch;

  .content {
    position: relative;

    padding: 0 2ch;
    z-index: 99;
  }

  .background {
    position: fixed;
    left: 0;
    right: 0;
    top: 30vh;
    margin-inline: auto;
    width: 62ch;

    padding: 0 1ch;

    font-weight: bold;

    background-color: var(--background);
    z-index: 0;
  }

  .hidden {
    display: none;
  }

  input {
    width: 48ch;
    max-width: 48ch;
    font-family: monospace;
    border: none;
  }

  :focus {
    outline: none;
  }
}
