.ascii {
  text-align: center;

  user-select: none;
  -moz-user-select: none;

  min-height: 8.5rem;

  @media (max-width: 80ch) {
    display: none;
  }
}

.normal {
  font-size: 2rem;

  @media (min-width: 80ch) {
    display: none;
  }
}
